<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World</h1>
    {% for ship in warship %}
    <form class="battle" method="POST" action="">
      {% csrf_token %}
      <div>
        <h3>Warships</h3>
        <table>
          <tr>
            <th>Warship</th>
            <th>Attacker</th>
            <th>Defender</th>
          </tr>
          <tr>
            <th>{{ ship.name }}</th>
            <th>
              <input
                type="text"
                type="number"
                name="attacker"
                placeholder="attacker"
              />
            </th>
            <th>
              <input
                type="text"
                type="number"
                id="defender"
                placeholder="Defender"
              />
            </th>
          </tr>
        </table>
      </div>
      <button type="submit">Attack</button>
    </form>
    {% endfor %}
   
  </body>
</html>
